export(estimate_initial)
export(fit_dates)
export(fit_summary)
export(get_growth_rate)
export(plot_date_estimates)
export(plot_fit_summary)
export(plot_growth_rate)
export(plot_initial)
export(read_calibration)
export(read_segment_data)
import(coda)
import(Hmisc)
import(stringr)
import(XLConnect)
import(zoo)
